@import '../../assets/styles/_variables';

.app-header {
  height: $header-height;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 8px;
  background-color: $theme-color-bg;
  align-items: center;
  box-sizing: border-box;
}
