@import '../../assets/styles/_variables';

.nav-icon {
  width: 40px;
  &:before, &:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }
  &.icon-close:before {
    transform: translateY(6px) rotate(135deg);
  }
  &.icon-close:after {
    transform: translateY(-6px) rotate(-135deg);
  }
}

.icon-white {
  &:before, &:after {
    background-color: $white;
  }
}